* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  list-style: none;
  scroll-behavior: smooth;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.logo {
  color: #cfcfcf;

  span {
    color: #ffffff;
  }
}

.hero {
  min-height: 98vh;
  background-image: url(/src/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
  }
}

.menu {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .logo {
    font-size: 1.5rem;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  span {
    font-weight: bold;
  }

  &__list {
    display: flex;

    @media (max-width: 768px) {
      margin: 0 auto;
      padding: 0;
    }

    &__item {
      margin-left: 15px;
      padding: 8px 16px;
      border: #fff 1px solid;
      border-radius: 4px;

      @media (max-width: 768px) {
        margin-top: 10px;
        font-size: 12px;
      }

      &:hover {
        background-color: white;
        border: 1px solid black;
        transition: 500ms linear;
        a {
          color: black;
        }
      }
    }
  }
}

.title {
  margin-top: 25px;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.movie_infos {
  margin-bottom: 20px;
  color: rgb(159, 159, 159);
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stars {
  display: flex;
  margin: 5px 0;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  img {
    @media (max-width: 768px) {
      max-width: 25px;
    }
  }
}

.like {
  display: flex;
  gap: 10px;
  align-items: center;

  img {
    @media (max-width: 768px) {
      max-width: 25px;
    }
  }

  li {
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      transform: translateX(0) scale(1.2);
    }
  }
}

.title_text {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.sinopse {
  margin-top: 20px;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  &_text {
    color: rgb(202, 202, 202);
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.credits {
  display: flex;
  justify-content: space-around;
  text-align: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  h3 {
    @media (max-width: 768px) {
      font-size: 14px;
      font-weight: bold;
    }
  }

  p {
    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}

.banners {
  width: 100%;
  margin: 60px auto;
  color: #000;

  h2 {
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
  }
}

.carousel-item {
  img {
    border-radius: 5px;
  }
}

.card-text,
.card-title {
  color: #000000;
}

.cast {
  color: #000000;
}

.cast__title {
  font-weight: bold;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-style: italic;
  color: #737373;
}

.card {
  transition: transform 0.5s;

  @media (max-width: 768px) {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  &:hover {
    transform: translateX(0) scale(1.04);
    box-shadow: 2px 2px 9px 0px rgba(173, 173, 173, 1);
  }
}

footer {
  background-color: #000;
  margin-top: 60px;
  p {
    text-align: center;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  .footer__p1 {
    padding-top: 30px;
    font-weight: bold;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    @media (max-width: 768px) {
      padding: 0;
    }

    li {
      margin: 5px 10px;
      margin-bottom: 30px;

      img {
        @media (max-width: 768px) {
          width: 60%;
        }
      }
    }
  }
}
